In [1]:
from supabase import create_client
import supabase

url = "https://wubuxdvluvpysvffdioe.supabase.co"
key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind1YnV4ZHZsdXZweXN2ZmZkaW9lIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc4MzQ3NzgsImV4cCI6MjA3MzQxMDc3OH0.2ylSrohGqLejj7Ldod_XS8JiRtbdcLDpGc7EhcyImSA"

supabase = create_client(url, key)

In [2]:
auth_res = supabase.auth.sign_up({
    "email": "siyathneth@gmail.com",
    "password": "StrongPassword123"
})
print(auth_res.user.id)   # <- This is the UUID

26ba58e5-5beb-45ef-a56c-70265499a899

In [19]:
import osmnx as ox

# Example: pull POIs in Colombo
tags = {"tourism": True, "amenity": True}
pois = ox.features_from_place("Colombo, Sri Lanka", tags)  # Changed function name

# Extract useful fields
poi_data = pois[["name", "amenity", "tourism", "geometry"]]
poi_data = poi_data.dropna(subset=["name"])  # keep only named places

#poi_data[poi_data["tourism"]=="hotel"]
poi_data

                                               name           amenity tourism  \
element id
node    191815840           Asiri Surgical Hospital          hospital     NaN
        253022237   Joseph Fraser Memorial Hospital          hospital     NaN
        253144768           Cinnamon Lakeside Hotel               NaN   hotel
        259648466                      Cafe Lavinia              cafe     NaN
        259648485    Kingston College International            school     NaN
...                                             ...               ...     ...
way     1348668146         Jumma Mosque Kollupitiya  place_of_worship     NaN
        1348729050                   Gunasiri Hotel              cafe     NaN
        1348853552  Cinnamon Life at City of Dreams               NaN   hotel
        1427116021      Sri Vithaga Vinayagar Kovil  place_of_worship     NaN
        1430312630                 Galle Face Hotel               NaN   hotel

                                                             geometry
element id
node    191815840                            POINT (79.87972 6.89455)
        253022237                             POINT (79.86522 6.8952)
        253144768                            POINT (79.84938 6.92912)
        259648466                            POINT (79.85723 6.89433)
        259648485                            POINT (79.86244 6.87985)
...                                                               ...
way     1348668146  POLYGON ((79.85066 6.91307, 79.85063 6.91317, ...
        1348729050  POLYGON ((79.85131 6.91325, 79.8514 6.9133, 79...
        1348853552  POLYGON ((79.84807 6.9243, 79.84856 6.92441, 7...
        1427116021  POLYGON ((79.86182 6.88358, 79.86193 6.8836, 7...
        1430312630  POLYGON ((79.84542 6.92059, 79.84644 6.92091, ...

[1799 rows x 4 columns]

In [20]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer("sentence-transformers/all-MiniLM-L6-v2")

texts = [
    "Gangaramaya Temple: one of the most important temples in Colombo.",
    "Cinnamon Life at City of Dreams: best 5 star hotel in Colombo."
]

embeddings = model.encode(texts).tolist()
print(len(embeddings[0]))  # should be 384

384

In [21]:
from supabase import create_client
import uuid

user_id = auth_res.user.id  # UUID returned by Supabase

supabase.table("profiles").insert({
    "id": user_id,
    "full_name": "Siyath Epa",
    "username": "siyath",
    "email": "siyathneth@gmail.com",
    "default_travel_type": "family"
}).execute()

# 2. Insert a trip linked to that profile
trip = supabase.table("trips").insert({
    "user_id": user_id,
    "title": "Test Trip"
}).execute()
trip_id = trip.data[0]["id"]

# 3. Insert a trip_day linked to that trip
trip_day = supabase.table("trip_days").insert({
    "trip_id": trip_id,
    "day_number": 1
}).execute()
trip_day_id = trip_day.data[0]["id"]

# 4. Insert activities with embeddings
for text, emb in zip(texts, embeddings):
    supabase.table("trip_activities").insert({
        "trip_day_id": trip_day_id,
        "activity_name": text.split(":")[0],
        "notes": text,
        "embedding": emb  # numpy array is fine, Supabase client will serialize
    }).execute()

In [22]:
from sentence_transformers import SentenceTransformer
import numpy as np

# load the same embedding model
model = SentenceTransformer("all-MiniLM-L6-v2")

query = "historic temple in Colombo"
query_emb = model.encode([query])[0].tolist()  # convert to list for Supabase JSON

In [23]:
response = supabase.rpc(
    "match_activities",  # we'll define this function in SQL below
    {"query_embedding": query_emb, "match_threshold": 0.7, "match_count": 5}
).execute()

for r in response.data:
    print(r["activity_name"], "-", r["notes"], " (score:", r["similarity"], ")")

Gangaramaya Temple - Gangaramaya Temple: one of the most important temples in Colombo.  (score: 0.770480215549474 )